
.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.hero__content h1 .highlight{
    color: var(--text-color);
}

.hero__content p{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img
{
    width: auto;
    height: 450px;
    border-radius: 20px;
    border: 1.4px solid var(--secondary-color);
    object-fit: cover;
}

/* .hero__img-box video{

} */

.hero__content{
    padding-top: 3.5rem;
}

.hero__img-box{
    padding-top: 2rem;
}

.services__subtitles{
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.services__title{
    font-size: 2.5rem;
    font-weight: 500;
}

.featured__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__wrapper {
    margin-top: 2.5rem;
}

.counter__box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 790;
    border-radius: 10px 5px 10px 0 ;
}

.counter__box h6{
    font-size: 1.1rem;
    margin-top: .7rem;
    color: var(--text-color);
}

.experience__img img{
    width: 90%;
    margin-bottom: -10%;
    margin-top: -100px;
}

.gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
