.student-profile{
  background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
  url(../assets/images/heroimg_2.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  backdrop-filter: blur(5px);
}
.student-profile .card {
  border-radius: 10px;
}

 .card .card-header .profile_img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.card:hover{
  transform: scale(1.03);
}