
.tour__content img{
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.tour__info,
.tour__reviews{
    margin-bottom: 2rem;
    border-radius: .5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.tour__info h2{
    font-size: 1.5rem;
}

.tour__info span{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-style: 1rem;
    color: var(--text-color);
}

.tour__info span i{
    font-size: 1.1rem;
    color: var(--heading-color);
}

.tour__extra__details{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1.1rem;
    margin-bottom: 2.5rem;
}

.tour__info h5{
    margin-bottom: 1rem;
    font-style: 1.3rem;
}

.tour__info p{
    color: var(--text-color);
    font-style: 1rem;
    line-height: 30px;
}
.rating__group{
    margin-left: 15px;
}
.rating__group span{
    font-style: 1.1rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
} 

.tour__reviews h4{
    margin-bottom: 3rem;
}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}

.review__input input{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    
}

.review__input input:focus{
    outline: none;
}

.review__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.review__item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.review__item h5{
    font-size: 1rem;
    margin-bottom: 0rem;
}

.review__item p{
    font-size: .9rem;
    color: var(--text-color);
}

.review__item h6{
    font-size: 1.1rem;
    color: var(--text-color);
}

.review__item span i{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.review__item span{
    font-weight: 500;
}

.selected{
    color: var(--primary-color);
}
