

.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo{
    width: 40%;
}
.logo img{
    width: 50%;
}

.menu
{
    margin-bottom: 0;
}


.nav__item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight:500;
    font-size: 1.1;
}

.nav__item a:hover{
    color: var(--secondary-color)
}

.nav__item a.active__link{
    color: var(--secondary-color);
}


.Mobile_menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header{
        width: 100%;
        height : 80px;
        line-height: 80px;
        background: #fff;
        position:sticky; 
        top: 0;
        box-shadow:3px 3px 8px -3px rgb(196, 169, 169);
        z-index: 999; 
}