

.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo{
    width: 40%;
}
.logo img{
    width: 50%;
}

.menu
{
    margin-bottom: 0;
}


.nav__item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight:500;
    font-size: 1.1;
}

.nav__item a:hover{
    color: var(--secondary-color)
}

.nav__item a.active__link{
    color: var(--secondary-color);
}

ul{
    list-style-type: none;
}

.Mobile_menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header{
        width: 100%;
        height : 80px;
        line-height: 80px;
        background: #fff;
        position: sticky; 
        top: 0;
        box-shadow:3px 3px 8px -3px rgb(196, 169, 169);
        z-index: 999; 
        opacity: 2;
}

.btn_reg{
    background-color: #000;
    background-image: linear-gradient(125deg,#23c20e,#3c8dc7);
    color: #fff;
    border: none !important;
    border-radius: 50px !important;
    padding: 0.4rem 1.5rem !important;
}
.btn_reg {
    border: none !important;
    border-radius: 50px !important;
    padding: 0.4rem 1.5rem !important;
}

.btn_reg a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

.btn_reg :is(:focus, :hover){
  outline-offset: 3px;
  color: #fff;    
}